<header class="header">
    <h2>Sistema Academico</h2>

    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Sair</button>
    </form>
</header>
