<div id="preloader">
    <div class="loader"></div>
</div>

<script>
window.addEventListener('load', () => {
    const preloader = document.getElementById('preloader');

    if(preloader){
        preloader.style.display = 'none';
    }
});
</script>