<aside class="sidebar">
    <div class="sidebar-title">
        <span class="sidebar-kicker">Sistema</span>
        <h3>Academico</h3>
    </div>

    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/aluno">Alunos</a></li>
        <li><a href="/aluno-disciplina">Aluno-Disciplina</a></li>
        <li><a href="/aluno-evento">Aluno-Evento</a></li>
        <li><a href="/curso">Cursos</a></li>
        <li><a href="/departamento">Departamentos</a></li>
        <li><a href="/disciplina">Disciplinas</a></li>
        <li><a href="/endereco">Enderecos</a></li>
        <li><a href="/evento">Eventos</a></li>
        <li><a href="/ocorrencia">Ocorrencias</a></li>
        <li><a href="/professor">Professores</a></li>
        <li><a href="/turma">Turmas</a></li>
    </ul>
</aside>
