DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=controle_alunos
DB_SYNCHRONIZE=false
DB_LOGGING=false

AUTH_USERNAME=admin
AUTH_PASSWORD=troque-esta-senha
AUTH_SECRET=troque-este-segredo
